@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

html{
    background-color: #ffffff;
    color: #555;
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    
}

.one {
    z-index: -1;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('/src/assets/images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-shadow: 2px 4px 4px rgba(26, 26, 26, 0.7);
}

.feature{
    z-index: -1;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('/src/assets/images/feature.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.feature-heading::after{
    display: block;
    height: 2px;
    background-color: rgb(245, 142, 25);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.icon-food{
    color: rgb(245, 142, 25);
}

.meals-showcase{
    width: 100%;
    list-style: none;
}

.food-list{
    display: flex;
    align-items: center;
    width: 25%;
    
}
.meals-showcase img{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    opacity: 0.7;
    border: solid;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    border-radius: 5px;
    border: solid 1px;
    border-color: rgb(255, 255, 255);
    transition: transform 0.8s, opacity 1s;
}

.meals-showcase img:hover{
    opacity: 1;
    transform: scale(1.03);
    transition: transform 0.8s, opacity 1s;
}

.special{
    z-index: -1;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('/src/assets/images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 2px 4px 4px rgba(26, 26, 26, 0.7);
}

.contact{
    z-index: -1;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('/src/assets/images/feature.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sub-but{
    background-color: rgb(245, 142, 25);
    border: solid 0.5px #2e2e2e;
    border-radius: 5px;
    padding: 2px;
}

.sub-but span{
    color: #ffffff;
    padding: 5px;
}


.contact-form{
    width: 60%;
}

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;    
    border: 1px solid rgb(245, 142, 25);
    background-color: #2e2e2e;
    opacity: 0.7;
}

.heading{
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
}

.heading::after{
    display: block;
    height: 2px;
    background-color: rgb(245, 142, 25);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
    position: absolute;
    right: 42%;
}

.socials{
    color: rgb(245, 142, 25);
}

.socials li:hover{
    color: rgb(204, 109, 0);
    scale: 1.15;
    transition: 0.5s;
}

.copy p span{
    color: rgb(245, 142, 25);
}

@media only screen and (max-width: 380px) {
    .feature{
        font-size: 10%;
    }
}

@media only screen and (max-width: 480px) {
    .contact{
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    body{
        font-size: 16px;
    }
    .row,.hero-text{
        padding: 0 4%;
    }
    .col{
        width: 100%;
        margin: 0 0 4%;
    }
    .list-nav{
        display: none;
    }

    .logo{
        height: 70px;
        margin-top: 35px;
        margin-left: 15px;
    }

    .home-btn{
        font-size: 10px;
    }
    .copy{
        font-weight: lighter;    
    }
    .feature{
        font-size: 90%;
    }
    .feature h3{
        font-size: 100%;
        padding-top: 1rem;
        font-weight: 600;
    }

    .feature h2
{
    font-size: 250%;
}    
    .icon-food{
        padding-top: 2rem;
        font-size: 200%;
        margin-bottom: 0rem;
    }

    .feature h3{
        margin-bottom: 0;
    }
    .meals-showcase{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        align-items: center;
    }
    .meals-showcase li{
        width: 50%;
    }

    .twoo{
        padding: 0;
    }

}

@media only screen and (max-width: 1023px) {
    body{
        font-size: 18px;
    }

    .long-copy{
        padding: 0;
    }

    .feature{
        padding-top: 2rem;
        background-repeat: repeat;
    }

}

@media only screen and (max-width: 1200px) {
    .hero-text{
        width: 100%;
        padding: 0 2%;
    }
}